@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Passion+One&family=Rammetto+One&display=swap");
@font-face {
  font-family: "ROG Fonts v1.6";
  src: url("./fonts/ROGFontsv1.6-Regular.ttf") format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
span {
  margin: 0;
  padding: 0;
}

html,
body {
  transition: 0.9s ease-in-out;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

body header {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  margin: 20px 10%;
}
body header nav .logo img {
  margin-left: 5px;
  width: 120px;
}
body header nav .nav-links {
  margin-right: 10%;
}
body header nav .nav-links ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
body header nav .nav-links ul li {
  display: inline;
  margin-right: 60px;
}
body header nav .nav-items {
  margin-right: 20px;
}
body header nav .nav-items button {
  font-size: 100%;
  background: none;
  color: #fff;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 15px 13px;
  padding: 7px 8px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
body header nav .nav-items button:hover {
  color: #000;
  border: 1px solid wheat;
  background-color: #fff;
}
body #home .hero {
  background: url(../img/bgruincity.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
}
body #home .hero .content {
  padding: 5% 10%;
  width: 80%;
}
body #home .hero .content .title-home h1 {
  text-justify: center;
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 8rem;
  font-weight: 400;
}
body #home .hero .content .title-home p {
  margin-top: 50px;
  color: #fff;
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 700;
}
body #home .hero .content .row {
  margin-top: 9%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
body #home .hero .content .row .col-1 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}
body #home .hero .content .row .col-1 button {
  display: flex;
  padding: 0.625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: "Passion One", cursive;
  font-size: 2.25rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 1.25rem;
  background: #fff;
  border: none;
}
body #home .hero .content .row .col-2 {
  display: flex;
  text-align: center;
  justify-content: end;
  flex-direction: column;
}
body #home .hero .content .row .col-2 h1 {
  color: #fff;
  font-family: "Rammetto One", cursive;
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
}
body #home .hero .content .row .col-2 button {
  display: flex;
  padding: 0.625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  color: #fff;
  font-family: "Passion One", cursive;
  font-size: 2.25rem;
  font-weight: 400;
  border-radius: 1.25rem;
  border: 1px solid #fff;
  border-radius: 1.25rem;
}
body #power .bg-dark {
  background: #000;
}
body #power .bg-dark .content {
  padding: 2.06rem 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #power .bg-dark .content h2 {
  color: #fff;
  font-family: "Passion One", cursive;
  font-size: 2rem;
  font-weight: 400;
}
body #power .bg-dark .content .logos {
  justify-content: center;
  align-items: center;
  display: flex;
}
body #power .bg-dark .content .logos .logo-1,
body #power .bg-dark .content .logos .logo-2,
body #power .bg-dark .content .logos .logo-3,
body #power .bg-dark .content .logos .logo-4 {
  margin-right: 1.88rem;
}
body #power .bg-dark .content img {
  max-width: 100%;
}
body #features .content {
  background: #000;
  padding: 4.41rem 10%;
}
body #features .content h1 {
  margin-bottom: 3.12rem;
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 6rem;
  font-weight: 400;
}
body #features .content .col-1,
body #features .content .col-2 {
  margin-bottom: 9.38rem;
  display: flex;
  align-items: flex-start;
  gap: 3.125rem;
  justify-content: space-between;
}
body #features .content .col-1 img,
body #features .content .col-2 img {
  max-width: 100%;
  height: auto;
}
body #features .content .col-1 .desc h3,
body #features .content .col-2 .desc h3 {
  margin-bottom: 1.25rem;
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 3.4375rem;
  font-weight: 400;
}
body #features .content .col-1 .desc p,
body #features .content .col-2 .desc p {
  width: 31.80419rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
body #maps .content {
  background: #000;
  padding: 4.41rem 10%;
}
body #maps .content h1 {
  margin-bottom: 3.12rem;
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 6rem;
  font-weight: 400;
}
body #maps .content .maps {
  text-align: center;
  display: flex;
  align-items: flex-start;
  gap: 4.6875rem;
  justify-content: space-between;
}
body #maps .content .maps h5 {
  margin-top: 2.38rem;
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body #news .content {
  background: #000;
  padding: 5.51rem 10% 0;
}
body #news .content h1 {
  margin-bottom: 3.12rem;
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 6rem;
  font-weight: 400;
}
body #news .content .new-version .image-content {
  position: relative;
}
body #news .content .new-version .image-content img {
  display: block;
  width: 100%;
  height: auto;
}
body #news .content .new-version .image-content h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 2.25rem 2.88rem;
  padding: 2rem;
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 7.5rem;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body #news .content .new-version .image-content h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 22.5rem 2.88rem 20.81rem;
  padding: 2rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 2.375rem;
  font-weight: 700;
}
body #news .content .new-version h2 {
  color: #fff;
  font-family: Inter;
  font-size: 3.4375rem;
  font-weight: 400;
}
body #events .content {
  background: #000;
  padding: 5.51rem 10%;
}
body #events .content h1 {
  color: #fff;
  font-family: "ROG Fonts v1.6", Tahoma;
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 1.88rem;
}
body #events .content img {
  width: 100%;
}
body #events .content h2 {
  margin-top: 1.88rem;
  color: #fff;
  font-family: Inter;
  font-size: 3.4375rem;
  font-weight: 400;
}
body #events .content .btn-area {
  margin-top: 4.88rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #events .content .btn-area button {
  padding: 0.94rem;
  border: none;
  border-radius: 1.25rem;
  background: #fff;
  color: #000;
  font-family: Passion One;
  font-size: 6rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s ease-out;
}
body #events .content .btn-area button:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid whitesmoke;
}
body footer .content {
  background: #262626;
  padding: 5.51rem 10%;
  text-align: center;
}
body footer .content .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .content .links a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
body footer .content .links .rectangle {
  width: 0.37244rem;
  height: 2.5rem;
  background: #d9d9d9;
}
body footer .content .follow {
  display: block;
  margin-top: 3rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
body footer .content .sosmeds svg {
  margin: 3.75rem 3.12rem 1.19rem;
  width: 3.125rem;
  height: 3.125rem;
  vertical-align: middle;
}
body footer .content .archard {
  width: 15.625rem;
  height: 9.70356rem;
}
body footer .content .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
body footer .content .copyright {
  margin-top: 4rem;
}
body footer .content .copyright p {
  font-family: "Inter", sans-serif;
  color: #d9d9d9;
  animation: shadow-animation 5s linear infinite;
  transition: 0.3s ease-in-out;
}
@keyframes shadow-animation {
  0% {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    font-size: 0.8rem;
  }
  50% {
    text-shadow: 0 1 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    font-size: 0.9rem;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
  100% {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    transition: 0.3s ease-in-out;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */